pygame 2.6.0

Описание проекта:
Pygame — это бесплатная и кроссплатформенная библиотека с открытым исходным кодом для разработки мультимедийных приложений,
таких как видеоигры, с использованием Python.
Она использует библиотеку Simple DirectMedia Layer и несколько других популярных библиотек для абстрагирования наиболее
распространенных функций, что делает написание этих программ более интуитивной задачей.

Ссылка на проект:
https://pypi.org/project/pygame/
